*{
    box-sizing: border-box;
  }

  body{
    font-family: sans-serif;
    background-color:rgb(236, 243, 243);
    
  }

  .material-icons{
    color:rgb(12, 4, 4);
  }
.nav-bar{
    margin-bottom: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(250, 244, 244);
}

.nav-left{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.nav-left img{
    width: 100px;
    margin-left: 0.5rem;
}

.nav-left i{
    padding: 0px 7px;
}

.nav-search{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.nav-search img{
    margin-left: 1rem;
}

.nav-search form{
    height: 35px;
    border: 1px #ddd;
    display: flex;
}

.nav-search input{
    width: 500px;
    height: 100%;
}

.nav-right{
    margin-right: 1rem;

}

.nav-right i{
    padding-right: 20px;
}

.video-section{
   
    margin: 10px 0px;
    width: 700px;
   
}

 .video-section ul{
    text-decoration: none;
    
}

.video-section li{
    display: inline;
    padding-left: 20px;
    cursor: pointer;
  
}


.side-bar{
    margin: 10px 0px;
    width: 500px;
     
}

.content{
    display: flex;
    column-gap: 20px;
    background-color:rgb(236, 243, 243);
    margin-left: 100px;
    margin-top: 100px;
    height: 100vh;
    
 

}

.buttons{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button{
    border-radius: 5px;
    cursor: pointer;
    background-color:rgb(236, 243, 243);
}

.previews{
    cursor: pointer;
}

.previews img{
    width: 200px;
    height: auto;
}

.previews p{
    font-size: small;
    color: rgb(141, 138, 138);
}
.previews span{
    font-size: small; 
    color: rgb(141, 138, 138);
}

.preview-one{
    display: flex;
    column-gap: 5px;
}


